@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<p>@Html.ActionLink("Your Travels", "Index", "Travels")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account", new { area = "" }, new { @class = "accept" })</p> 
